# .NET
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Flutter
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/build/

# Android
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/.last_build_id/

# macOS
.DS_Store